Thanaweya Amma Entry Requirements :

Faculty of Engineering
Scientific section – Math branch


Faculty of Computing & Information Sciences
Scientific section – Biology branch
Scientific section – Math branch


Faculty of Digital Arts & Design
Scientific section – Biology branch
Scientific section – Math branch
Arts section


Faculty of Business Informatics
Scientific section – Biology branch
Scientific section – Math branch
Arts section
 

Arab Thanaweya Entry Requirements:

Faculty of Engineering

Scientific section
Faculty of Computing & Information Sciences

Scientific section
Faculty of Digital Arts & Design

Scientific section
Arts section
Faculty of Business Informatics

Scientific section
Arts section
 

Nile Certificate 
Entry Requirements:

Engineering:
English, Arabic, Math, Chemistry, Physics (All L1) + Math L3 or (Math + Chemistry or Physics or Biology) (L2) + 2 electives (L1)
Computing & Information Sciences:
English, Arabic, Math, Chemistry, Physics (All L1) + Math L3 or (Math + Chemistry or Physics or Biology) (L2) + 2 electives (L1)
Business Informatics:
English, Arabic, Math (All L1) + 4 electives (L1)
Digital Arts & Design:
English, Arabic, Math (All L1) + 4 electives (L1)
 

Academic Credentials:

7 (L1) subjects are required for the faculties Business Informatics and Digital Arts & Design.
For the faculties Engineering and Computing & Information Sciences: 7 (L1) + Math (L3) or Math (L2) + Chemistry or Physics or Biology (L2) are required.
Minimum accepted Grade is "E".
 

American Diploma
Entry Requirements:

Engineering:
English Language or Literature, Math, Advanced Math (or Math of EST II or equivalent ACT II), Physics, Chemistry + 4 electives
Computing & Information Sciences:
English Language or Literature, Math, Advanced Math (or Math of EST II or equivalent ACT II), Physics, Chemistry + 4 electives
Business Informatics:
English Language or Literature
Other optional subjects must include any subjects 5 of the following:
Geography, Global Studies, Social Studies, History, Economics, Business Studies, Mathematical Subject, Principles of Statistics, Accounting, Physics, Chemistry, Biology, German or French (one European language), Computer Science, + 2 electives.

Digital Arts & Design:
English Language or Literature
Other optional subjects must include 5 subjects of the following: 
Geography, Global Studies, Social Studies, History, Economics, Mathematical subject, Principles of Statistics, Accounting, French or Spanish or Italian, Philosophy or Logic, Biology, Physics, Chemistry, Sociology, Art, Computer Science, or Information Technology, + 2 electives.

 Academic Credentials:

Having successfully completed (8) different subjects.
Subjects less than one credit are not accepted.
Subjects can be calculated from Grade 12, 11 or 10. The minimum number of subjects to be calculated from G12 is 4, maximum number of subjects from G11 is 4, and to be completed accordingly from G10 if needed however the maximum number of subjects to be calculated from G10 is 2.
Subjects as PE, music, yearbook, religion… are not counted.
EST I (or equivalent ACT I) minimum accepted score is 800/1600 ONLY as a passing grade.
EST II (or equivalent ACT II) is highly recommended & gives extra bonus for student’s overall evaluation & tuition category (minimum accepted score is 900/1600).
EST II will be mandatory only in case the student wishes to join the Engineering and Computer Science Group and didn’t take Advanced Math in school Transcript in grades 10, 11 or 12.
Subjects to be accepted in EST II (or equivalent ACT II):
For Engineering & Computing and Information Sciences: Math is a necessity + Physics or Chemistry or Biology.

 

IGCSE
Entry Requirements:

Engineering:
English Language or Literature (OL), Math (OL), Math (AL or ASL), Physics (OL), Chemistry (OL), + 4 electives.
Computing & Information Sciences:
English Language or Literature (OL), Math (OL), Math (AL or ASL), Physics (OL), Chemistry (OL), + 4 electives.
Business Informatics:
English Language or Literature
Other optional subjects must include any subjects 5 of the following:
Geography, Global Studies, Social Studies, History, Economics, Business Studies, Principles of Statistics, Accounting, Math, Physics, Chemistry, Biology, German or French, Computer Science / Information & Communication Technology, + 2 electives.

Digital Arts & Design:
English Language or Literature
Other optional subjects must include 5 of the following:
Geography, Global Studies, Social Studies, History, Economics, Mathematics, Principles of Statistics, Accounting, French or German (one Foreign European Language only), Philosophy or Logic, Biology, Physics, Chemistry, Sociology, Art, Computer Science/Information & Communication Technology, + 2 electives.

Academic Credentials:

8 (OL) subjects are required for the faculties Business Informatics and Digital Arts& Design.
For the faculties Engineering and Computing & Information Sciences: 8 (OL) + Math (AL/ASL) are required.
Minimum (OL) Grade is "C".
Minimum (AL or ASL) Grade is "D".
Maximum number of (AL or ASL) subjects to be calculated is: 2(ALs) or 4(ASLs) or 1(AL+2ASL) subjects.
Accepted scores must be taken during not more than 4 consecutive years.
International Baccalaureate
Entry Requirements:

Engineering:
English Language and/or Literature
Math (HL)
Physics (HL)
Computing & Information Sciences:
English Language and/or Literature
Math (HL)
Physics (HL)
Business Informatics:
English Language and/or Literature
Other subjects must include 5 of the following: - Arabic /Geography/ History/ Economics/ Business Management/ Math / Physics/ Chemistry/ Biology/ German/ French/Computer Science…
A strong background in Mathematics is highly recommended.
Digital Arts & Design:
 English Language and/or Literature
 Other optional subjects must include 5 subjects of the following: - Arabic /Geography/ History/ Economics/ Business Management/ Math / Physics/ Chemistry/ Biology/ German/ French/Computer Science/ visual Art…
Academic Credentials:

Passing 6 subjects with a minimum of 3 taken in the High Level (including the qualifying subjects).
A total score of minimum of 24/45 is required.
Passing the English Language is a must for acceptance.
Theory of knowledge, Extended Essay & Creativity are required.
Students must obtain the final graduation IB Diploma.
For more information, please call the Admission office at 01030080940